@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f4f8;
  --foreground: #1a202c;
  --primary: #4f46e5;
  --secondary: #7c3aed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #f0f4f8;
    --primary: #4f46e5;
    --secondary: #7c3aed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
